*{
    box-sizing: border-box;
}

body {
    background-color:rgba(252, 252, 252, 0.966);
}

#cardsWrapper {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 500px;
    min-width: 320px;
    margin: 30px auto;
}

.card {
    background: radial-gradient(circle, rgb(233, 233, 239) 0%, rgb(155, 155, 178) 100%);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 0 20px;
    padding: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0.75);
}

.cardTitle {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 5px;
}

.cardText {
    display: block;
    margin: 0 0 15px;
}

.cardUserName,
.cardUserMail {
    display: block;
    font-weight: 600;
}

.cardUserName {
    margin: 0 0 5px;
}

.cardBtn {
    display: flex;
    justify-content: flex-end;
}
.cardBtn button{
    background-color: #d4d7e4;
    border: 1px solid rgb(17, 16, 16);
    border-radius: 3px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cardBtn button:hover {
    background-color:#020517;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255)
}